{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br><div class="container">
  {% if messages %}
  {% for messages in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  <div class="card mb-3 ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{product.image.url}}" class="img-fluid-rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <center>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <br>
                    <p class="card-text justitied">
                        {{product.description}}
                    </p>
                    <p class="card-text justitied">
                      {{product.specification}}
                  </p>

                    {% if product.is_available %}
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                    </div>
                    {% if product.is_sale %}
                    <strike>
                        ${{product.price}}
                    </strike>
                    &nbsp;
                    ${{ product.sale_price }}
                    {% else %}
                    ${{ product.price }}
                    {% endif %}
                    <br><br>
                    <div class="row justify-content-center">
                      <div class="col-md-2">Quantity</div>
                      <div class="col-md-2">
                        <select class="form-select form-select-sm" id="qty-cart">
                          <option value="1">1</option>
                          <option value="2">4</option>
                          <option value="3">3</option>
                          <option value="3">4</option>
                          <option value="3">5</option>
                        </select>
                      </div>
                    </div>
                    {% else%}
                        <h1>Out of Stock currently, check by later</h1>
                    {% endif %}

                    <br><br>
      
                    <button type="button" value="{{product.id}}" class="btn btn-outline-success" id="add-cart">Add To Cart</button>
                    {% if request.user.is_authenticated %}
                    
                    <a href="{% url 'update' product.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                    
                    {% endif %}
                </center>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<script>
  // chexk if button is pressed

  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url:'{% url "add" %}',
      data:{
        product_id: $('#add-cart').val(),
        product_qty:$('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },

      success: function(json){
        // console.log(json)
        document.getElementById("cart_quantity").textContent = json.qty
        location.reload();

      },

      error: function(xhr, errmsg, err){

      }

    });

  })
</script>
{% endblock %}