{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<section id="smart-watches" class="product-store padding-large position-relative">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Billing Info </h2>
          <p>Enter Your Payment Info</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card-header">
                Order Summary
             </div>
             <div class="card-body">
              {% for product in cart_product %}
                {{product.name}}
                {% if product.is_sale %}
                  ${{product.sale_price}}
                {% else %}
                  ${{product.price}}
                {% endif %}
                <br>
                <small>Quantity: 
                {% for key, value in quantities.items %}
                  {% if key == product.id|slugify %}
                    {{value}}
                  {% endif%}
                {% endfor %}</small>
                <br><br>
              {% endfor %}
             </div>
             <a href="{% url 'cart' %}" class="btn sm btn-outline-success">Update Items</a>
             <br><br><hr>
             <h3>Total: ${{total}}</h3>
             <br>
            </div><br>
            <div class="col-md-6"><br>
              <div class="card-header">
                Billing_info
             </div>
             <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                {{forms.as_p}}
              </form>

              <a href="" class="btn btn-outline-danger">Pay Now</a><br>
            </div>
          </div>

        </div>
    </div>
</section>
</div>
{% endblock %}