{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    <h1 class="card-title text-uppercase text-dark">Shipping Details </h1><br>
            
    <form action="" class="form-control" method="POST">
        {% csrf_token%}
        <div class="container">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Full Name</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Product Name"> -->
                {{form.full_name}}
                {{form.errors}}
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">E-mail <small class="lead">( optional )</small></label>
                <!-- <textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Product Description" name="" id="" cols="10" rows="5"></textarea> -->
                {{form.email}}
                {{form.errors}}
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Phone Number</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Product Specification"> -->
                {{form.number}}
                {{form.errors}}
            </div>
            
            
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Address 1</label>
                <div class="col-sm-10">
                <!-- <input type="text" class="form-control" id="formGroupExampleInput"> -->
                {{form.address_1}}
                {{form.errors}}
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Address 2</label>
                <div class="col-sm-10">
                <!-- <input type="text" class="form-control" id="formGroupExampleInput"> -->
                {{form.address_2}}
                {{form.errors}}
                </div>
            </div>
            <di class="row mb-3">
                <!-- <input type="text" class="form-control" id="formGroupExampleInput"> -->
                {{form.city}}
                {{form.errors}}
            </div>
            <div class="row mb-3">
                <!-- <input type="text" class="form-control" id="formGroupExampleInput"> -->
                {{form.state}}
                {{form.errors}}
            </div>
            <div class="row mb-3">
                <!-- <input type="text" class="form-control" id="formGroupExampleInput"> -->
                {{form.country}}
                {{form.errors}}
            </div> 
           
        </div><br>
        <button class="btn btn-primary" style="margin: 0 auto; display: block;" type="submit">Upload</button>
    </form><br><br><br>
</div><br>


{% endblock %}